body {
    margin: 0;
    height: 0;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.842);
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: gold;
    height: 90px;
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: yellow -1px 1px 0;
    margin: 25px;
    padding-top: 25px;
    border: 2px solid black;
    border-radius: 20px;
}


/***** IMAGEN + PUNTUACION JUEGO ******/

.game {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
}


/* IMAGEN */

.game img {
    height: 400px;
    width: 50%;
    margin-right: 25px;
    border: black solid 2px;
    float: right;
    border-radius: 20px;
}

/* PUNTUACION */

.puntuacion {
    width: 50%;
    /*
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-transform: uppercase;*/
}

.puntuacion h3 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.puntuacionTipo {
    align-content: left;
    margin: 20px 0px 0px 15px;
}

.tipo {
    font-size: 20px;
    /*display: flex;*/
    align-items: center;
    /*width: 150px;*/
    /* justify-content: right; */
}

.bar {
    position: relative;
    bottom: 27px;
    left: 25%;
    height: 30px;
    width: 300px;
/*    background-color: blueviolet;*/
    border-radius: 30px;
    border: black solid 2px;
}

.grafico {
    background-color:green;
}

.sonido {
    background-color:green;
}

.historia {
    background: green;
}

.jugabilidad {
    background-color:green;
}

/***** SINOPSIS  + TRAILER******/

.sinopsis {
    position: relative;
    top: 5px;
    padding: 45px 45px 0 45px;
}

.sinopsis h3 {
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}

.sinopsis a {
    text-decoration:none;
    color: lightsalmon;
}

.sinopsis p {
    line-height: 20px;
    font-size: 16px;
}

.trailer {
    position: relative;
    top: 5px;
    padding: 0 45px 45px 45px;
}

.trailer h3 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.trailer iframe {
    width: 600px;
    height: 300px;
    margin-left: 25%;
    border:20px groove;
    border-color: black rgba(146, 143, 143, 0.89);
}
